@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fontsource/poppins/400.css'; /* Regular */
@import '@fontsource/poppins/500.css'; /* Medium */
@import '@fontsource/poppins/700.css'; /* Bold */
@import '@fontsource/poppins/600.css'; /* Bold */
@import '@fontsource/poppins/800.css'; /* Bold */



:root {
  --font-primary: 'Poppins', sans-serif;
  /* --bg-primary: rgb(55, 63, 81); */
  --bg-primary: #1e2345;
  --bg-secondary: #C18C5D;
  --banner-gradient: linear-gradient(
    180deg, 
    var(--bg-primary),
    rgba(var(--bg-primary-rgb), 0.8)
  );
  --bg-primary-rgb: 30, 35, 69;
  background-color:   var(--bg-primary);
}
/* Apply font smoothing to the entire body */
body {
  -webkit-font-smoothing: antialiased; /* For WebKit browsers */
  -moz-osx-font-smoothing: grayscale; /* For Firefox on macOS */
  font-smooth: always; /* For older browsers */
}

/* Or apply it to specific elements */
h1, h2, h3, h4, h5, h6, p {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

p{
  font-family: 'Poppins';
}
body {
  color: #0F122F;

}
h3{
  color: #0F122F;
  font-family: var(--font-primary);

}
h2{
  font-family: var(--font-primary);
}

h1{
 
  font-weight: 700;
  font-size: 26px;
  line-height: 72px;
  color: white;
  font-family: 'poppins';
  font-family: var(--font-primary);

}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  
}

h4{
  font-size: 14px;        /* equivalent to Tailwind's text-sm */
  color: var(--brand-blue); /* custom property for brand blue color, define in :root or specific scope */
  text-transform: uppercase; /* equivalent to Tailwind's uppercase */
  letter-spacing: 0.05em; /* equivalent to Tailwind's tracking-wide */
  opacity: 0.6;       
}
.bottom-footer{
  border-color: rgba(255, 255, 255, 0.5); 
}

.hero-container{
  background: var(--banner-gradient), url('../public/images/ldd-1.jpg');
  background-position: center ;
  background-size: cover;


}
.top-banner{
  background:  var(--banner-gradient), url('../public/images/queenstown.avif');
  background-position: center;
  background-size: cover;
}

.testionial-card-heading{
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.111));
  background-position: center;
  background-size: cover;
}

ul li{
  font-family: 'Poppins';
}

li{
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  
}

.gradient-text {
    background: linear-gradient(to bottom,var(--bg-secondary) 50%, rgba(255, 165, 0, 0) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    
}

.footer-banner{
  /* background-image: linear-gradient(to bottom, #c18c5d 80%, #c18c5d 100%), url('/images/transformYourSpace.jpg');  */

  background-position: center;
}

.subtlePattern {
  background-image: url('/images/dot-grid.png');
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-mask-image: radial-gradient(circle, black 0%, transparent 90%);
  mask-image: radial-gradient(circle, black 0%, transparent 90%);
}