@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fontsource/poppins/400.css'; /* Regular */
@import '@fontsource/poppins/500.css'; /* Medium */
@import '@fontsource/poppins/700.css'; /* Bold */
@import '@fontsource/poppins/600.css'; /* Bold */



:root {
  --font-primary: 'Poppins', sans-serif;
  background-color: #0F122F;
}
p{
  font-family: 'Poppins';
}
body {
  color: #0F122F;

}
h3{
  color: #0F122F;
  font-family: var(--font-primary);

}
h2{
  font-family: var(--font-primary);
}

h1{
 
  font-weight: 700;
  font-size: 26px;
  line-height: 72px;
  color: white;
  font-family: 'poppins';
  font-family: var(--font-primary);

}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  
}

h4{
  font-size: 14px;        /* equivalent to Tailwind's text-sm */
  color: var(--brand-blue); /* custom property for brand blue color, define in :root or specific scope */
  text-transform: uppercase; /* equivalent to Tailwind's uppercase */
  letter-spacing: 0.05em; /* equivalent to Tailwind's tracking-wide */
  opacity: 0.6;       
}
.bottom-footer{
  border-color: rgba(255, 255, 255, 0.5); 
}

.hero-container{
  background: linear-gradient(180deg, rgb(15, 18, 47) 40%, rgba(15, 18, 47, 0.548)), url('../public/images/ldd-1.jpg');
  background-position: center;
  background-size: cover;


}
.top-banner{
  background: linear-gradient(to bottom, rgb(15, 18, 47) 30%, rgba(15, 18, 47, 0.515)), url('../public/images/queenstown.avif');
  background-position: center;
  background-size: cover;
}

.testionial-card-heading{
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.111));
  background-position: center;
  background-size: cover;
}

ul li{
  font-family: 'Poppins';
}

li{
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  
}

.gradient-text {
    background: linear-gradient(to bottom,#E68C2C 50%, rgba(255, 165, 0, 0) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    
}

.footer-banner{
  background-color: rgba(255, 255, 255, 0.089);
}